/* * {
    border: 1px solid red;
} */

.function_test_container{
    height: 100px;
}


.RPS_container{

    display: flex;
    flex-direction: column;
    height: 200px;

}



#player_choice_container{
    margin-bottom: 50px;
}


#player_RPS_button{
    width: 200px;

    height: 100px;

}

#computer_choice_container{
    height: 200px;
}